name: CI

on:
  pull_request:
    branches:
      - "master"

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
      with:
        go-version-file: 'go.mod'
        go-version: '1.24.0'
        cache: true
    - name: Run linter
      uses: golangci/golangci-lint-action@e7fa5ac41e1cf5b7d48e45e42232ce7ada589601 # v9.1.0
    - name: Run CI
      run: go run bootstrap.go ci
