name: CI

on:
  pull_request:
    branches:
      - "master"

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
    - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
      with:
        go-version-file: 'go.mod'
        go-version: '1.24.0'
        cache: true
    - name: Run linter
      uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9.2.0
    - name: Run CI
      run: go run bootstrap.go ci
